// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-off-white: #efefef;
$c-off-black: #333333;

// Base Font Size
$base-font-size: 16;

// Pixel to EMs conversion
@function px-to-em($px, $denominator: $base-font-size) {
  @return $px / $denominator * 1em;
}

// Breakpoints
$bp-tiny: px-to-em(525);
$bp-small: px-to-em(960);
$bp-med: px-to-em(1060);

// The max-width of the stage on full desktop
$max-stage-width: px-to-em(1024);

$no-query: '.no-mediaqueries';
