.project-section {
  padding: 5em 0 10em 0;
}

.project-content {
  @extend %clearfix;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.project-list {
  text-align: center;
  padding: 0;
  margin: 0;
}

.project-item {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.project-link {
  display: block;
  padding: 0.5em 2em;
  margin: 0 auto 1em auto;
  width: 200px;
  color: $c-white;
  background-color: $c-black;
  background-color: rgba($c-black, 0.8);
  text-decoration: none;
  &:hover {
    @include transition(background .5s ease);
    background-color: $c-dark-grey;
    background-color: rgba($c-black, 1);
  }
}